name: ECR cleanup

on:
  workflow_dispatch: # enable manual execution

permissions:
  id-token: write
  contents: read

jobs:
  ecr-cleanup:
    name: ECR cleanup
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.PROD_CI_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: ECR cleanup
        env:
          ECR_REPO_NAME: ${{ secrets.ECR_REPO_NAME }}
        run: ./scripts/ecr_cleanup.sh
